body {
  background-color:#C70039;
}
h1 {
  background-color:#DAF7A6;
  color:#fff;
  font: georgia;
  font-size:50px;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  width:100%;
}
h4 {
  background-color:#DAF7A6;
  color:#C70039;
  font: georgia;
  text-align: left;
  font-style: italic;
  font-weight: bold;
  width:100%;
}
